.claimDefaultBtn {
    display: flex;
    margin: 0;
    padding-top: 0;
    padding-bottom: 16px;
    height: max-content;
    width: 298px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .claimDefaultBtn img {
    width: 24px;
    height: 24px;
  }

  .white {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }

  .black {
    border-bottom: 1px solid #000000;
    color: #000000;
  }