.assetPageLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: max-content;
}

.assetPageLeftImgBox {
    width: 522px;
    height: 522px;
    background: #0B0B0B;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assetPageLeftImgBox img {
  height: 100%;
}

.assetPageLeftImgTab {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.assetPageLeftImgTab div {
    width: 80px;
    height: 80px;
}

.assetPageLeftImgTabElement {
    background: #0B0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.assetPageLeftImgTabElement img {
  height: 100%;
}

.assetPageLeftImgTabMid {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #0090c2;
  align-items: center;
  justify-content: center;

}
