.verificationCode {
    display: flex;
    flex-direction: column;

}

.verificationCode h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgba(26, 28, 28, 0.6);
  margin: 0;
}

.verificationCode h3 span {
    color: #1C1C1A;
}

.verificationCode p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1c1c1a;
  margin-top: 24px;
  margin-bottom: 12px;
}

.verificationCodePinBox {
    --width: 296px;
    --height: 74px;
    --spacing: 47px;
    display: inline-block;
    position: relative;
    width: var(--width);
    height: var(--height);
}

.verificationCodePinEntry {
    position: absolute;
    padding-left: 21px;
    font-family: courier, monospaced;
    font-size: var(--spacing);
    height: var(--height);
    letter-spacing: var(--spacing);
    background-color: transparent;
    border: 0;
    outline: none;
    clip: rect(0px, calc(var(--width) - 21px), var(--height), 0px);
}